<h1>All Songs</h1>

<table>
    <thead>
        <tr>
        Songs
        </tr>
    </thead>
    <tbody>
        <% @songs.each do |song| %>
            <tr><%= song.title %></tr>
        <% end %>
    </tbody>
</table>